* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

li {
  color: blueviolet;
  padding: 5px;
  width: 400px;
}

button {
  color: whitesmoke;
  background-color: rgb(48, 44, 51);
}

body {
  background-color: rgb(48, 44, 51);
  color: whitesmoke;
}

/* Flex-direction Form */

#directionForm {
  width: 100%;
  border: 3px solid blueviolet;
  padding: 10px;
}

/* Flex-direction Row */

#flexRow {
  background-color: rgb(180, 208, 208);
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: row;
}

/* Flex-direction Row-Reverse */

#flexRowReverse {
  background-color: rgb(180, 208, 208);
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: row-reverse;
}

/* Flex-direction Column */

#flexColumn {
  background-color: rgb(180, 208, 208);
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: column;
}

/* Flex-direction Column-Reverse */

#flexColumnReverse {
  margin: auto;
  background-color: rgb(180, 208, 208);
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: column-reverse;
}
