* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

li {
  color: blueviolet;
  padding: 5px;
  width: 100px;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 15%;
  color: rgb(43, 34, 34);
  background-color: rgb(252, 244, 231);
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 3px solid rgb(247, 245, 236);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 2s ease-out;
}

button:hover {
  height: 100px;
  width: 100px;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  color: rgb(43, 34, 34);
  background-color: rgb(252, 244, 231);
  border-bottom: 3px solid rgb(193, 184, 160);
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -5px;
  cursor: pointer;
}

body {
  background-color: rgb(209, 222, 242);
  color: whitesmoke;
}

/* Flex-direction Form */

#directionForm {
  width: 100%;
  background-color: rgb(247, 245, 236);
  border: none;
  padding: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* Flex-direction Row */

#flexRow {
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: row;
}

/* Flex-direction Row-Reverse */

#flexRowReverse {
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: row-reverse;
}

/* Flex-direction Column */

#flexColumn {
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: column;
}

/* Flex-direction Column-Reverse */

#flexColumnReverse {
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: column-reverse;
}

/* Flex-wrap*/

/* Flex-wrap Row */

#flexRowWrap {
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Flex-wrap Row-Reverse */

#flexRowReverseWrap {
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

/* Flex-wrap Column */

#flexColumnWrap {
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Flex-direction Column-Reverse */

#flexColumnReverseWrap {
  list-style-type: none;
  width: 80vw;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
