* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

li {
  color: violet;
  padding: 5px;
  width: 400px;
}

body {
  background-color: rgb(48, 44, 51);
  color: whitesmoke;
}

/* Flex-direction Row */

#flexRow {
  background-color: rgb(180, 208, 208);
  list-style-type: none;
  width: 50vw;
  display: inline-flex;
  flex-direction: row;
}

/* Flex-direction Row-Reverse */

#flexRowReverse {
  background-color: rgb(180, 208, 208);
  list-style-type: none;
  width: 50vw;
  display: inline-flex;
  flex-direction: row-reverse;
}

#flexColumn {
  background-color: rgb(180, 208, 208);
  list-style-type: none;
  width: 50vw;
  display: inline-flex;
  flex-direction: column;
}

#flexColumnReverse {
  background-color: rgb(180, 208, 208);
  list-style-type: none;
  width: 50vw;
  display: inline-flex;
  flex-direction: column-reverse;
}
